body{
   text-align: center;
   background: #00ECB9;
   font-family: quicksand;
   font-weight: 100;
}

h1{
   font-family: quicksand;
   text-align: center;
   color: #396;
   font-weight: 100;
   font-size: 40px;
   margin: 40px 0px 20px;
   
   position: absolute;
   top: 25%;
   left: 50%;
   margin-top: -50px;
}

#clockdiv{
    font-family: quicksand;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
    
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}

#clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    background: #00BF96;
    display: inline-block;
}

#clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: #00816A;
    display: inline-block;
}

.smalltext{
    padding-top: 5px;
    font-size: 16px;
}
